.header_hero {
	height: 100px;
	background-color:rgb(51,204,51);
}

.hero_text {
	text-align: center;
	font-size:44pt;
	color: rgb(255,255,204);
}

nav {
	background-color: rgb(255,255,204);
}

#navbarDropdown {
	color: green;
}

#home {
	color: green;
}


main {
	background-color: rgb(255,255,171);
}

.container {
	background: rgb(255,255,171);
	padding-top: 40px;
	padding-bottom: 30px;
}

.card-body {
	background-color: rgb(255,255,171);
}


img {
	width: 400px;
	height: 300px;
	padding-left: 30px;

}

#main_row {
	justify-content: center;
}


h5 {
	color: green;
}

#footer_div1 {
	background-color: rgb(255,255,204);
	height:50px;
}

#footer_div2 {
	background-color: rgb(51,204,51);
	height:70px;
}

.footer_logo {
	color: green;
	font-size:12pt;
	font-weight: bold;
	text-align: center;
	padding-top:20px;
}

.row_adresses {
	text-align: center;
}

#h1_addresses {
	text-align: center;
	color: green;
	padding-bottom: 20px;
}