.header_hero {
	height: 100px;
	background-color:rgb(51,204,51);
}

.hero_text {
	text-align: center;
	font-size:44pt;
	color: rgb(255,255,204);
}

nav {
	background-color: rgb(255,255,204);

}

#navbarDropdown {
	color: green;
}

#home {
	color: green;
}


.card-img-top {
	width: 150px;
	height: 300px;
}

.card img {
	width: 70%;
}


#main_row {
	justify-content: center
}


h5 {
	color: green;
}

#footer_div1 {
	background-color: rgb(255,255,204);
	height:50px;
}

#footer_div2 {
	background-color: rgb(51,204,51);
	height:70px;
}

.footer_logo {
	color: green;
	font-size:12pt;
	font-weight: bold;
	text-align: center;
	padding-top:20px;
}